body {
    background: darkgreen;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50% auto;
    width: 100%;
}

.black-keys {
    position: relative;
    top: -120px;
    z-index: 1;
    height: 50px;
    display: flex;
    align-items: stretch;
    gap: 10px;
}

.white-keys {
    display: flex;
    align-items: stretch;
    padding: 1rem;
    position: relative;
}

.black-keys kbd {
    display: inline-block;
    background: black;
    color: white;
    width: 25px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}

.white-keys kbd {
    display: inline-block;
    background: white;
    border: gray solid 2px;
    width: 30px;
    height: 100px;
    text-align: center;
    line-height: 170px;
}
